*{
    margin: auto;
    /* background: whitesmoke; */
}
body{
    background: rgb(148, 184, 224);
}
.container{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(49, 49, 49);
    box-shadow: 16px 10px 15px rgb(114, 115, 117);
    border-radius: 5px;
    width: 22em;
    transition: ease-in-out 0.5s;
}

#logo{
    margin: auto;
    padding: 16px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#form-input{
    margin: 10px;
    display: block;
    margin: auto;
    transform: translate(0%, -40%);
}

.container input[type="text"]{
    background: none;
    width: 70%;
    color: rgb(221, 227, 240);
    border: none;
    outline: none;
    border-bottom:1.5px solid rgb(93, 135, 226);
    display: block;
    padding: 10px;
}
.container input[type="password"]{
    background: none;
    width: 70%;
    color: rgb(221, 227, 240);
    border: none;
    outline: none;
    border-bottom:1.5px solid rgb(93, 135, 226);
    display: block;
    padding: 10px;
}
#controls{
    padding: 10px;
    height: 120px;
}
#controls input[ type='button']{
    padding: 15px 10px;
    width: 50%;
    height: 50px;
    display: block;
    background: rgb(93, 135, 226);
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: cubic-bezier(.41,-0.38,.67,1.35) 0.35s;
}

#controls input[type = 'button']:hover{
    width: 60%;
    height: 60px;
}

#controls input[type='reset']{
    display: block;
    padding: 5px;
    background: none;
    color: rgb(221, 227, 240);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .container{
        width: 80%;
    }
    #controls input[ type='button']{
        font-size: 0.70em;
        padding: 10px 5px;
        height: 35px;
        width: 50%;
    }
    /* #controls input[ type='button']:hover{
        width: 50%;
        height: 50px;
    } */
}