*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: rgb(136, 138, 138);
}
.main{
    width: 70%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 3em;
    background-image: linear-gradient( rgb(242, 246, 247), rgb(163, 166, 170));
    padding: 5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgb(68, 71, 71);
}
input[type='text']{
    height: 50px;
    width: 100%;
    padding: 10px;
    color: rgb(17, 100, 100);
    border: 2px solid rgb(224, 231, 230);
}
.form-title{
    display:inline-block;
    margin: auto;
    margin-bottom: 1em;
    padding: 10px;
    font-size: 2em;
    /* positioning the element in the center */
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}
textarea{
    position: relative;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    border: 1px solid blanchedalmond;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
}
button{
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(96, 160, 80);
    transition: 0.5s ease-out;
} 
button:hover{
    background-color: rgb(17, 100, 100);
    color: white;
}
.invalid{
    height: 50px;
    width: 100%;
    padding: 10px;
    color: rgb(231, 84, 26) !important;
    border: 2px solid rgb(245, 71, 48) !important;
    /* background-color: rgb(245, 186, 186); */
}
/* #fname{
    border-color: red;
} */