body{
    margin: 0px;
    padding: 0;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    background: #34495e;
}
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(106, 149, 179, 0.2);
    text-align: center;
    box-shadow: 4px 10px 20px rgb(132, 156, 175);   
}
.box h1{
    /* color: rgb(51, 184, 184); */
    text-transform: uppercase;
    font-weight: 100;
    background: linear-gradient(to left, white, rgb(51, 184, 184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.box input[type="text"],.box input[type="password"]{
    background: none;
    display: block;
    padding: 5px;
    margin:20px  auto;
    text-align: center;
    border:2px solid rgb(51, 184, 184);
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    color: white;
    outline: none;
    transition: .3s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 250px;
    border:2px solid lightblue;
}
.box input[type="button"]{
    display: block;
    color: rgb(51, 184, 184);
    margin: auto;
    padding: 10px 20px;
    background: none;
    border: 2px solid rgb(51, 184, 184);
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.box input[type="button"]:hover{
    background-color: rgb(51, 184, 184);
    color: white;
}